<!----------Github estilo css------------->

element.style{
	
}
.Tela_Login{
	
    color: black;
    font: 13.34px /1.4 helvetica, arial, sans-serif;
    margin: 100px auto;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    width: 420px;

}

<!-------------Estilo login----------------->

element.style{
	
}

#login{

    background: none repeat scroll #F5F5F5;
	border: 1px solid #E5E5E5;
	margin: 2px ;
	float: none;
	
}
.login_form{
	
	margin: 5em auto;
}

div{

	display: block;

}
body {

	font: 13.34px helvetica, arial, sans-serif;
	line-height: 1.4;

}
html, body{

	color: black;

}
<!---------Formatação layout login---------------->
element.style{
	
}

.login_form form{
	
}
*{

	margin: 0;
	padding: 0;

}
form{

	display: block;

}
body{

	font: 13.34px helvetica, arial, sans-serif;
	line-height: 1.4;

}

html, body{

	color: black;

}

element.style {

    margin: 0;
    padding: 0;

}

* {

    margin: 0;
    padding: 0;

}

div {

    display: block;

}

body {

    font: 13.34px helvetica,arial, sans-serif;
    line-height: 1.4;

}

html, body {

   color: black;

}  
input[type="hidden"]{

	display: none;

}
input, input[type="password"], input[type="search"]{

	border: 2px inset;
	cursor: auto;

}

input, textarea, keygen, select, button{

	letter-spacing:normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;

}

body{

	line-height: 1.4;

}
<!---Formatação h1---->

element.style{
	
}

.login_form h1{

	color: white;
	font-size: 16px;
	background:(left top,left bottom);
	background-color: #405A6A;
	border: 1px solid #677C89;
	border-bottom-color: #6B808D;
	border-radius: 3px, 3px, 0, 0;
	margin: 0;
	padding: 8px 18px;

}

h1{

	display: block;

}

body{

	font: 13.34px helvetica,arial,sans-serif;
	line-height: 1.4;
	
}

<!-----------H1 ok------------>

element.style {

}

.login_form .formbody {

    padding: 2em;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #E9F1F4 #D8DEE2 #D8DEE2;
    border-radius: 0 0 3px 3px;

}

* {

    margin: 0;

}

div {

    display: block;

}

body {

    font: 13.34px helvetica,arial,sans-serif;
    line-height: 1.4;

}

html, body {

    color: black;

}

<!------------Ok classe form body------------>

element.style{
	
}

.login_form form label, .login_form form .label, label.standard{

    font-size: 110%;
    color: #2F424E;
    display: inline-block;
    cursor: text;

}

body{

    font: 13.34px helvetica,arial,sans-serif;
    line-height: 1.4;

}

<!--------Ok label login----------->
element.style{

    width: 21em;

}

.login_form form input.text {

    font-size: 110%;

}

.login_form form input.text, .login_form form textarea {

    padding: 5px;
    border: 1px solid #D8DEE2;
    margin: .2em 0 1em 0;

}

input[type="text"], input[type="password"], input[type="image"], textarea {

    font: 99% helvetica,arial,sans-serif;

} 		

input, input[type="password"], input[type="search"], isindex {

    background-color: white;
    border: 2px inset;
    cursor: auto;
  
}

input, textarea, keygen, select, button, isindex {

    margin: 0em;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    display: inline-block;
        
}

body{

    line-height: 1.4;

}

.login_form form input.text{

    font-size: 110%;

}

.login_form form input.text, .login_form form textarea{

    padding: 5px;
    border: 1px solid #D8DEE2;
    margin: .2em 0 1em 0;

}

input[type="text"], input[type="password"], input[type="image"], textarea {

    font: 99% helvetica,arial,sans-serif;

}

input, input[type="password"], input[type="search"], isindex {

    background-color: white;
    border: 2px inset;
    cursor: auto;
    
}

input, textarea, keygen, select, button, isindex {

    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    display: inline-block;
    
}   

body{

    line-height: 1.4;

} 

<!-------ok input login------------->

.login_form form label, .login_form form .label, label.standard {

    font-size: 110%;
    color: #2F424E;
    display: inline-block;
    cursor: text;

}

body {

    font: 13.34px helvetica,arial,sans-serif;
    line-height: 1.4;

}

<!------------ok label password---------------->

element.style {

    width: 21em;

}

.login_form form input.text {

    font-size: 110%;

}

.login_form form input.text, .login_form form textarea {

    padding: 5px;
    border: 1px solid #D8DEE2;
    margin: .2em 0 1em 0;

}

input[type="text"], input[type="password"], input[type="image"], textarea {

    font: 99% helvetica,arial,sans-serif;

}

input, input[type="password"], input[type="search"], isindex {

    background-color: white;
    border: 2px inset;
    cursor: auto;

}

input, textarea, keygen, select, button, isindex {

    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    display: inline-block;
    
}

body {

    line-height: 1.4;

}

<!-----------ok input password------------->

element.style {

}

.login_form form label, .login_form form .label, label.standard {
    font-size: 110%;
    color: #2F424E;
    display: inline-block;
    cursor: text;

}

* {

    margin: 0;
    padding: 0;

}

body {

    font: 13.34px helvetica,arial,sans-serif;
    line-height: 1.4;

}

<!------------ok label submit-------------------->

element.style{
	
}

.login_form form input[type="submit"] {
    display: inline-block;
    height: 34px;
    position: relative;
    top: 1px;
    font-family: helvetica,arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    border: none;
    overflow: visible;
    background: (-90deg,white,#E1E1E1);
    border-bottom: 1px solid #EBEBEB;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1px;
    padding: 0 13px;
   
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"] ::-webkit-file-upload-button, button {

    text-align: center;
    border-box;

}

input, textarea, keygen, select, button, isindex {

    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;

}

body{

    line-height: 1.4;

}

<!--------------ok input submit-------------------->